[bumpversion]
current_version = 1.3.2
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(-test(?P<build>\d+))?
serialize = 
    {major}.{minor}.{patch}-test{build}
    {major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = test
values = 
    test

[bumpversion:part:build]


[bumpversion:file:pyproject.toml]

[bumpversion:file:nrv/__init__.py]

