[bumpversion]
current_version = 1.3.2

parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)-test(?P<test>\d+))?
serialize = 
    {major}.{minor}.{patch}-test{test}
    {major}.{minor}.{patch}

[bumpversion:part:release]
first_value = regular
optional_value = regular
values = 
    alpha
    beta
    rc
    test
    regular

[bumpversion:part:test]


commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:nrv/__init__.py]

