[bumpversion]
current_version = 1.4.0
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(a(?P<test>\d+))?
serialize = 
	{major}.{minor}.{patch}a{test}
	{major}.{minor}.{patch}

[bumpversion:part:test]

[bumpversion:file:pyproject.toml]

[bumpversion:file:CITATION.cff]
[bumpversion:file:.zenodo.json]

[bumpversion:file:nrv/__init__.py]
