include nrv/geom/*
include nrv/comsol_templates/*
include nrv/log/*
include nrv/mods/*
include nrv/OTF_PP/*
include nrv/pops/*
include nrv/ppops/*
include nrv/stats/*
include nrv/materials/*
include nrv/NRV.ini
include nrn/nrv2calm/*
include Licence.txt
include ReadMe.md